#divPrincipal{
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    width: 300px;
    background-color: rgb(111, 95, 255);
}

#divTitulo{
    text-align: center;
    margin: auto;
}
#divPrincipal input, select{
    margin-top: 5px;
    margin-left: 5px;
}

input[type="text"]{
    border: 1px solid black;
    color: aliceblue;
    background-color: rgb(111, 95, 255);
}
input::placeholder {
    color: aliceblue;
  }

select{
    border: 1px solid black;
    background-color: rgb(111, 95, 255);
    color: aliceblue;
}
select::-moz-focus-inner{
    background-color: rgb(111, 95, 255);
    color: aliceblue;
}
.a1{
    background-color: rgb(111, 95, 255);
    color: aliceblue;
}
table{
    color: aliceblue;
    --bs-table-striped-color: aliceblue;
}
input.btn-primary, button.btn-secondary, input.btn-secondary{
    background-color: rgb(111, 95, 255);
    color: aliceblue ;
    border-color: black;
}


